@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
.so-widget-sow-headline-sow-headline-f37af036229e #sow-headline-container.sow-headline h4 {
  font-family: Open Sans;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-f37af036229e #sow-headline-container.sow-headline h6 {
  font-family: Open Sans;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-f37af036229e #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}